<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../assets/logo.png" width="70%" class="d-inline-block align-top" alt="">
  </a>
  <button type="submit" class="btn btn-outline-primary">HOJE</button>
  <button type="button" class="btn btn-outline-primary">QUADRO DE EVENTOS</button>
  <button type="button" class="btn btn-outline-primary">CURSOS</button>
  <button type="button" class="btn btn-outline-primary">VLOG</button>
</nav>
<div>
  <h3 class="fontColor" style="color:red; margin-top: 5%;">AGORA</h3>
  <h3 class="fontColor" style="text-align: center;">ÚLTIMAS NOTÍCIAS</h3>
</div>
<div class="radio">
  <h4 class="fontColor" style="margin-top: -5%;">UNIFACISA RÁDIO ONLINE </h4>
  <iframe src="https://d6ojw9st89o3o.cloudfront.net/BRGallery/index.php/player/view/wall;233;128;c2Vydmlkb3IzNC5icmxvZ2ljLmNvbS9hcHAucGxheWVyLnBocD9hZGRyZXNzPXNlcnZpZG9yMzQuYnJsb2dpYy5jb20mcG9ydD04MDI0;true" border="0" scrolling="no" frameborder="0" allowtransparency="true" style="background-color: none;"></iframe>
</div>
<div class="twitter">
  <h4 class="fontColor">UNIFACISA TWITTER </h4>
  <a class="twitter-timeline" data-lang="pt" data-width="300" data-height="500" href="https://twitter.com/unifacisa?ref_src=twsrc%5Etfw">Tweets by unifacisa</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<router-outlet></router-outlet>